html {
  font-weight: 100 !important;
}

.v-application {
  background: linear-gradient(45deg, #0b1641 0%, #c70160 100%) !important;
}

.container {
  max-width: 1196px !important;
  padding: 0 8px !important;
}

input {
  font-weight: 100 !important;
  color: #fff !important;
}

.v-application .accent-text {
  color: transparent !important;
}

.v-btn.v-size--default {
  font-size: 1.8rem !important;
  text-transform: none !important;
  font-weight: 100 !important;
}

.v-application--is-ltr .v-text-field .v-input__prepend-inner {
  padding: 0 !important;
  margin: 0 20px 0 8px !important;
  color: #dadada !important;
  .v-icon {
    color: #dadada !important;
  }
}

.v-application .accent--text {
  color: none !important;
  caret-color: transparent !important;
}

.v-menu__content {
  margin-top: -4px;
}
